* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bckgrnd: rgb(80, 86, 95);
    --bckgrnd-dark: rgba(60, 65, 71, 0.9);
    --borders: rgba(44, 48, 54, 0.6);
    --font-clr: rgb(186, 192, 202);
    --hovered: rgb(38, 46, 58);
}

html {
    font-size: 20px;
}

body {
    color: var(--font-clr);
    background-color: var(--bckgrnd);
    font-family: 'Rubik', sans-serif;
}

h2 {
    font-size: 2rem;
    padding-bottom: 20px;
}

/* ---=== NAVIGATION BAR ===--- */

nav {
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
}

nav a {
    flex: 1 1 100px;
    padding: 10px;
    color: var(--font-clr);
    background-color: var(--bckgrnd-dark);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    border-bottom: 2px groove var(--borders);
}

nav a:not(:last-child) {
    border-right: 2px groove var(--borders);
}

nav a:hover {
    color: white;
    background-color: var(--hovered);
    filter: brightness(0.85);
}

/* ---=== HEADER SECTION ===--- */

header {
    background-image: url("../imgs/logo.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    box-shadow: 15px 15px 15px var(--bckgrnd-dark);
}

header h1 {
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 5rem;
    animation: welcome 4s infinite;
    text-shadow: 0 0 10px black, 0 0 25px grey;
}

header h3 {
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 0 3px black, 0 0 5px var(--bckgrnd), 0 0 7px var(--bckgrnd-dark);
}

/* ---=== ABOUT ME SECTION ===--- */

#aboutme {
    border: 1px solid var(--borders);
    width: 95%;
    margin: 50px auto;
    padding: 30px;
    background-color: rgb(250, 250, 250, 0.1);
    box-shadow: 5px 5px 10px var(--bckgrnd-dark);
}

#aboutme-container {
    width: 80%;
    margin: 10px auto 30px auto;
    min-width: 100px;
    display: grid;
    grid-template-areas: "photo info info""table info info";
    column-gap: 50px;
    row-gap: 25px;
    align-items: center;
    justify-items: center;
}

img.aboutme-item {
    grid-area: photo;
    margin-top: 20px;
    border-radius: 20px;
}

img.aboutme-item[src*="mask"] {
    width: 30%;
    height: 70%;
    animation: myphoto-mask 4s infinite;
}

img.aboutme-item[src*="-l"] {
    width: 50%;
    height: 100%;
}

p.aboutme-item {
    grid-area: info;
    text-align: justify;
    text-align-last: center;
    hyphens: auto;
}

table.aboutme-item {
    grid-area: table;
    align-self: start;
    text-align: left;
}

.aboutme-item td {
    padding: 5px;
}

/* ---=== SKILLS SECTION ===--- */

#skills {
    margin: 100px auto;
    width: 95%;
}

#skills h2 {
    text-align: center;
}

#skills-container {
    margin: auto;
    display: grid;
    grid-template: 1fr / repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}

.skills-item {
    padding: 5px;
    text-align: center;
    background-color: var(--bckgrnd-dark);
    box-shadow: 1px 1px 5px var(--bckgrnd-dark);
}

.skills-item img {
    width: 50%;
    max-width: 200px;
    opacity: 0.3;
    filter: invert(100%);
    border-radius: 7%;
}

.skills-item figcaption {
    padding: 10px;
    font-size: 1.7rem;
    font-weight: bold;
}

.skills-item ul li {
    list-style-type: none;
    padding-bottom: 5px;
}

/* ---=== PORTFOLIO SECTION ===--- */

#portfolio h2 {
    padding-left: 5px;
}

#portfolio-container {
    display: grid;
    grid-template-areas: "p1 p1 p2 p3"" p4 p5 p6 p6";
    justify-items: center;
    align-items: center;
    height: 85vh;
}

#portfolio-container figure {
    border: 0.25px solid var(--borders);
    width: 100%;
    min-width: 50px;
    height: 100%;
    min-height: 50px;
    position: relative;
    overflow: hidden;
}

.portfolio-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(50%);
    transition: all 0.5s ease-in-out;
}

#portfolio-container figure figcaption {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    padding: 5px;
    opacity: 0;
    text-align: center;
    background-color: var(--bckgrnd-dark);
    transition: opacity 0.5s ease-in-out;
}

#portfolio-container figure:hover img {
    transform: scale(1.1);
    filter: grayscale(0%);
}

#portfolio-container figure:hover figcaption {
    opacity: 0.9;
}

#portfolio-item1 {
    grid-area: p1;
}

#portfolio-item2 {
    grid-area: p2;
}

#portfolio-item3 {
    grid-area: p3;
}

#portfolio-item4 {
    grid-area: p4;
}

#portfolio-item5 {
    grid-area: p5;
}

#portfolio-item6 {
    grid-area: p6;
}

/* ---=== CONTACT SECTION ===--- */

#contact {
    border: 2px solid var(--borders);
    width: 70%;
    margin: 100px auto;
    padding: 30px;
}

#contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
}

#contact-container p {
    max-width: 300px;
    margin-top: 20px;
}

#contact-container form {
    border: 0.5px solid var(--borders);
    border-radius: 2%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form-item {
    border: none;
    border-radius: 2%;
    padding: 5px 10px;
    background-color: var(--font-clr);
    font-weight: bold;
}

textarea.contact-form-item {
    font-family: 'Rubik', sans-serif;
    font-size: 0.7rem;
    font-weight: normal;
}

textarea.contact-form-item::placeholder {
    font-family: 'Rubik', sans-serif;
    font-size: 0.7rem;
}

button.contact-form-item {
    width: 70%;
    align-self: flex-end;
    background-color: var(--bckgrnd-dark);
    color: var(--font-clr);
}

button.contact-form-item:hover {
    color: white;
    background-color: var(--hovered);
}

/* ---=== FOOTER SECTION ===--- */

footer {
    padding: 3px;
    background-color: var(--bckgrnd-dark);
    text-align: center;
    font-size: 0.7rem;
}

/* ---=== MOBILE SIZE ===--- */

@media only screen and (max-width: 400px) {

    html {
        font-size: 12px;
    }

    nav a {
        padding: 2.5px;
    }

    #aboutme-container {
        grid-template-areas: "photo""table""info";
    }

    #skills-container {
        grid-template: repeat(4, 1fr) / 1fr;
    }

    #portfolio-container {
        grid-template-areas: "p1""p2""p3""p4""p5""p6";
        height: 150vh;
    }

    #contact {
        width: 90%;
    }

    #contact-container {
        text-align: center;
    }
}

/* ---=== TABLET SIZE ===--- */

@media only screen and (min-width: 401px) and (max-width: 960px) {

    html {
        font-size: 16px;
    }

    nav a {
        padding: 5px;
    }

    #aboutme-container {
        grid-template-areas: "photo""table""info";
    }

    #skills-container {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    #portfolio-container {
        grid-template-areas: "p1 p1 p4""p2 p6 p6""p2 p5 p3";
    }

    #contact {
        width: 85%;
    }

    #contact-container {
        text-align: center;
    }
}

/* ---=== ANIMATIONS ===--- */

@keyframes welcome {

    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1)
    }

    100% {
        transform: scale(0.8);
    }
}

@keyframes myphoto-mask {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }